<div class="row session-form-container">
	<div class="small-6 small-centered columns">

		<div class="row session-header">
			<div class="small-12 columns">
				
				<h1 class="text-center">Sign Up!</h1>
			</div>
		</div>

		<div class="row new-user-form">
			<div class="small-12 columns">
				<%= form_for @user do |f| %>
					<% if @user.errors.any? %>

					<div class="error_messages">
						<h2>Form is invalid</h2>
						<ul>
							<% for message in @user.errors.full_messages %>
							<li><%= message %></li>
							<% end %>
						</ul>
				<% end %>
					</div>

					 <div class="field">
				    <%= f.label :name %><br/>
				    <%= f.text_field :name %>
				  </div>
					<div class="field">
						<%= f.label :email %><br/>
						<%= f.text_field :email %>
					</div>
					<div class="field">
						<%= f.label :password %><br/>
						<%= f.password_field :password %> 
					</div>
					<div class="field">
						<%= f.label :password_confirmation %><br/>
						<%= f.password_field :password_confirmation %>
					</div>
					<div class="actions text-center">
						<%= f.submit 'Go', :class => 'button [tiny small large] form-button' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>