
<%= link_to 'New Product', new_product_path %>

<table>
	<tr>
		<th>Name</th>
		<th>Text</th>
	</tr>
	<% @products.each do |product| %>
		<%= link_to product_path(product.id) do %>
    <h2>
      <%= product.formatted_price %>
      <%= product.name %>
    </h2>
  <% end %>
   <!-- keeps the description to 100 characters or less -->
  <p><%= truncate(product.description, length: 100) %></p>
		<!-- <tr>
			<td><%= product.name %></td>
			<td><%= product.description %></td>
			<td><%= link_to 'Show', product_path(product) %></td>
			<td><%= link_to 'Edit', edit_product_path(product) %></td>
			<td><%= product.formatted_price %></td>
		</tr> -->
	<% end %>
</table>

