<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rainforest</title>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href='http://fonts.googleapis.com/css?family=Muli|Maven+Pro:400,500|Nixie+One|Playball|' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <nav class="top-bar logo-nav" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1 id="app-logo"><%= link_to 'Rainforest', root_url %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
      </nav>

    <div class=" sticky">
      <nav class="top-bar nav-links" data-topbar role="navigation" data-options="sticky_on: large">
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="left left-nav">
            <% if current_user %>
              <li class="has-dropdown">
                <a href="#">Account</a>
                <ul class="dropdown">
                  <li><%= link_to "Add a product", new_product_path %></li>
                  <li><a href="">Your Orders</a></li>
                  <li><a href="">Wish list</a></li>
                  <li><a href="">Help</a></li>
                </ul>
              </li>
              <li><%= link_to 'Log out',log_out_path %></li>
            <% else %>
              <li><%= link_to 'Log in', new_session_path %></li>
              <li><%= link_to 'Sign up', new_user_path %></li>
            <% end %>
          </ul>
          <ul class="right right-nav">
            <li class="has-form">
              <div class="row collapse">
                <div class="large-8 small-9 columns">
                  <input type="text" placeholder="Find Stuff">
                </div>
                <div class="large-4 small-3 columns">
                  <a href="#" class="button [tiny small large] search-button"><i class="fa fa-search"></i></a>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>